<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<style>
	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}
	
	<div class="main-page-wrapper">

		<div class="forestilling-boks">		
		<h1>Drømmer Første forestilling vår 2018 kl 12:00</h1>
		{% for Forestillinger in data %}
		
			<table class="Forestillinger-tabell">
				<tr>
					<th colspan=3 style="text-align:center;">{{Forestillinger.Kurs}}</th>
				</tr>
				<tr>
					<td>Pedagog</td>
					<td>{{Forestillinger.Pedagog}}</td>
				</tr>
				<tr>
					<td>Låt</td>
					<td>{{Forestillinger.Laat}}</td>
				</tr>
				<tr>
					<td>Kostyme fra hjem</td>
					<td>{{Forestillinger.KostymeHjem}}</td>
				</tr>
				<tr>
					<td>Kostyme fra skole</td>
					<td>{{Forestillinger.KostymeSkole}}</td>
				</tr>
				<tr>
					<td>Inngang</td>
					<td>{{Forestillinger.Inngang}}</td>
				</tr>
				<tr>
					<td>Utgang</td>
					<td>{{Forestillinger.Utgang}}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>
		{% endfor %}
		</div>
	</div>

	<footer>
	<!-- Dette er footeren -->
	{% include "nettside/includes/footer.html" %}
	<footer>
</body>
</html>

