<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}


	<div class="main-page-wrapper">
		<div id="tekst-boks1" tabindex="2">
			<h1>Om skolen</h1>
			<p>
				Skolen har eksistert siden 1999, tidligere drevet av Hedda Bergh.
				Sommeren 2006 tok Maria Lockert over danseskolen.
				Skolen tilbyr godt utdannede pedagoger. Semesteret avsluttes med
				forestilling i Ullensaker kulturhus. 

				Skolen tilbyr klasser i jazz, klassisk,
				moderne, breakdance, hip hop, vogue og barnedans.
				Jessheim danseskole har 2 saler som er nær hverandre. Sal 1 ligger i
				Hoppenspretten andre etasje og sal 2 ligger rett under Elixia Jessheim.
				Danseundervisningen foregår på begge salene samtidig .
			
		</p>
		</div>
		<div class="box75-25">
			<img class="box75-25-bilde" alt="profil-bilde" src="{% static 'images/dans1.png' %}" tabindex="2" alt="Bilde av skolens elever"></img>
		
			<div class="box75-25-tekst" style="margin-top: 50px;" tabindex="2">
				<p>
					På Jessheim danseskole er alle velkomne! Om du er nybegynner eller profesjonell danser, barn og
					voksne står sammen og danser. Vi har kursopplegg for alle nivåer. Du trenger ingen som helst
					forkunnskaper. Klarer du å skille mellom venstre og høyre fot, er du godt kvalifisert! Velkommen til
					Jessheim Danseskole
				</p>
			</div>			
		</div>
	</div>
	<footer>
	<!-- Dette er footeren -->
	{% include "nettside/includes/footer.html" %}
	<footer>
</body>
</html>