<!DOCTYPE html>
<html lang="nb">
<style>


#map {
	height: 300px;
	width:408px;
	margin-right: 20%;
	
}

#ruter {
		text-align: left;
}
.top-container {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

#info-boks {
	width: 40%;
	padding:0 10% 0 0;
	float: right;
}


#kart {
	width: 30%;
	padding:0 10% 0 10%;
	float: left;
}

@media screen and (max-width: 1500px) {
	#info-boks {
		width: 80%;
		padding:0 10% 100px 10%;
		float: left;
	}


	#kart {
		width: 80%;
		padding:0 10% 0 10%;
		clear: both;
	}


}

</style>
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}


	<!-- Her skal delen med section ligge -->


<div class="main-page-wrapper">

	<div id="info-boks">
		<h1>Kontakt Oss</h1>

<pre>
<span style="font-size: 17px; font-family: arial;" tabindex="2">
E-post:
post@jessheimdanseskole.no 
Telefon:
47 34 65 34

Besøksadresse: 
Industrivegen 21 og 34
2069 Jessheim
</span>
</pre>

		<h1>
			<a href="/sal1" tabindex="2">Sal 1</a>
			<a href="/sal2" tabindex="2">Sal 2</a>
		</h1>

		<p>
			Jessheimdanseskole holder til Industrivegen 21 og 34 2069 Jessheim, sentralt ved Hoppenspretten i Jessheim.
			Vi har to saler som ligger på hver sin side av veien.
			Det er lett å komme seg til oss med kollektivtransport.
			Du kan f.eks ta toget L13 fra Oslo til Nordby ellr Buss 438 retning Jessheim. Dersom du kommer fra andre steder er det mulig å søke på reiseruter til venstre.
			<br>
			<br>
			Ta gjerne kontakt på mail om det er noe du skulle lure på.
		</p>

	</div>

	<div id="kart">
		<div id ="map">
		</div>

		<div id = "ruter">
			<iframe src='https://ruter.no/iframe-search.html#Til%20(2350204)Industriveien%20(Jessheim)%20(Ullensaker)%7CJessheim%20Danseskole?logo=nologo'
					allowTransparency='true' frameborder='0' scrolling='no' 
					height='354' width='408'>
			</iframe>
		</div>
	</div>

</div>

	<footer>
	<!-- Dette er footeren -->
	{% include "nettside/includes/footer.html" %}
	<footer>


</body>
</html>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT5idxeBqv1tyBmOmAIGO2iIdu1p7EKFQ&callback=initMap"></script>

<script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("myHeader");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>

<script>
	function initMap() {
		var location = {lat: 60.151663, lng: 11.184812};
		var location2 = {lat: 60.152276, lng: 11.182659};
		var map = new google.maps.Map(document.getElementById("map"), {
			zoom: 15,
			center: location
		});
		var marker = new google.maps.Marker({
			position: location,
			map: map,
			title: 'Sal 1'
		});
		var marker = new google.maps.Marker({
			position: location2,
			map: map,
			title: 'Sal 2'
		});
		
	}
</script>