<!DOCTYPE html>
<html lang="nb">
<head>
  <title>Jessheim Danseskole | Home </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
  <!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->
<style>

.pedagog-pf-overlay, .pedagog-profil-bilde {box-sizing: border-box;}

.pedagog-bilde-boks {
  position: relative;
  width: 50%;
  max-width: 250px;
}

.pedagog-profil-bilde {
  display: block;
  width: 100%;
  height: auto;
}

.pedagog-pf-overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.pedagog-bilde-boks:hover .pedagog-pf-overlay {
  opacity: 1;
}



.stilart-flex-wrapper {
	margin: 0 3% 100px 3%;
	display: flex;
	overflow: auto;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content:center;
	}

.stilart-flex-wrapper > div{
	width:280px;
	margin: 10px;
	text-align: center;
	font-size: 20px;
	background-color: darkgrey;
	color: white;
	}
  
.stilart-flex-wrapper a{
	color: white;
	display: block;
	text-decoration: none;
	}

</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}
<div class="main-page-wrapper">

	<div id="tekst-boks1">
		<h1 tabindex="2">Skolens pedagoger</h1>
		<p tabindex="2">
			Pedagogene på Jessheim danseskole er erfarne når det gjelder kunnskap og nivå innen sine
			respektive sjangere. Vi legger stor vekt på personlighet og engasjement hos våre pedagoger. Vi går i
			dybden i dansesjangeren og oppmuntrer kreativitet hos elevene.
			På undervisningen fylles det opp med ulike koreografier, danseteknikker, battles, forberedelse til
			forestilling, og danselek for små barn.
		</p>
	</div>

	<div class="stilart-flex-wrapper">

		<div class="pedagog-bilde-boks">
			<a href="/pedagoger/amelia">
				<img align="middle" src="{% static 'images/pedagoger/Ameliaprofil.jpg' %}" tabindex="2" alt="Profil-bilde Amelia" height="400" class="pedagog-profil-bilde">
				<div class="pedagog-pf-overlay">Amelia</div>
			</a>
		</div>
		<div class="pedagog-bilde-boks">
			<a href="/pedagoger/andri">
				<img align="middle" src="{% static 'images/pedagoger/Andriprofil.jpg' %}" tabindex="2" alt="Profil-bilde Andri" height="400" class="pedagog-profil-bilde">
				<div class="pedagog-pf-overlay">Andri</div>
			</a>
		</div>
		<div class="pedagog-bilde-boks">
			<a href="/pedagoger/daniel">
				<img align="middle" src="{% static 'images/pedagoger/Danielprofil.jpg' %}" tabindex="2" alt="Profil-bilde Daniel" height="400" class="pedagog-profil-bilde">
				<div class="pedagog-pf-overlay">Daniel</div>
			</a>
		</div>
		<div class="pedagog-bilde-boks">
			<a href="/pedagoger/elita">
				<img align="middle" src="{% static 'images/pedagoger/Elitaprofil.jpg' %}" tabindex="2" alt="Profil-bilde Elita" height="400" class="pedagog-profil-bilde">
				<div class="pedagog-pf-overlay">Elita</div>
			</a>
		</div>
		<div class="pedagog-bilde-boks">
			<a href="/pedagoger/ingrid">
				<img align="middle" src="{% static 'images/pedagoger/Ingridprofil.jpg' %}" tabindex="2" alt="Profil-bilde Ingrid" height="400" class="pedagog-profil-bilde">
				<div class="pedagog-pf-overlay">Ingrid</div>
			</a>
		</div>
		<div class="pedagog-bilde-boks">
			<a href="/pedagoger/irlin">
				<img align="middle" src="{% static 'images/pedagoger/Irlinprofil.jpg' %}" tabindex="2" alt="Profil-bilde Irlin" height="400" class="pedagog-profil-bilde">
				<div class="pedagog-pf-overlay">Irlin</div>
			</a>
		</div>
		<div class="pedagog-bilde-boks">
			<a href="/pedagoger/katrine">
				<img align="middle" src="{% static 'images/pedagoger/Katrineprofil.jpg' %}" tabindex="2" alt="Profil-bilde Katrine" height="400" class="pedagog-profil-bilde">
				<div class="pedagog-pf-overlay">Katrine</div>
			</a>
		</div>
		<div class="pedagog-bilde-boks">
			<a href="/pedagoger/mari">
				<img align="middle" src="{% static 'images/pedagoger/Mariprofil.jpg' %}" tabindex="2" alt="Profil-bilde Mari" height="400" class="pedagog-profil-bilde">
				<div class="pedagog-pf-overlay">Mari</div>
			</a>
		</div>
		<div class="pedagog-bilde-boks">
			<a href="/pedagoger/maria">
				<img align="middle" src="{% static 'images/pedagoger/Mariaprofil.jpg' %}" tabindex="2" alt="Profil-bilde Maria" height="400" class="pedagog-profil-bilde">
				<div class="pedagog-pf-overlay">Maria</div>
			</a>
		</div>
		<div class="pedagog-bilde-boks">
			<a href="/pedagoger/maylinda">
				<img align="middle" src="{% static 'images/pedagoger/Maylindaprofil.jpg' %}" tabindex="2" alt="Profil-bilde May Linda" height="400" class="pedagog-profil-bilde">
				<div class="pedagog-pf-overlay">May Linda</div>
			</a>
		</div>
		<div class="pedagog-bilde-boks">
			<a href="/pedagoger/siljeolava">
				<img align="middle" src="{% static 'images/pedagoger/Siljeolavaprofil.jpg' %}" tabindex="2" alt="Profil-bilde Silje" height="400" class="pedagog-profil-bilde">
				<div class="pedagog-pf-overlay">Silje Olava</div>
			</a>
		</div>
	</div>
</div>

<footer>
    <!-- Dette er footeren -->
    {% include "nettside/includes/footer.html" %}
<footer>
</body>
</html>