<!DOCTYPE html>
<html lang="nb">
<style>

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    position: relative;
    float: left;
    width:  150px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

div.desc {
    padding: 15px;
    text-align: center;

	
</style>
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}
<div class="main-page-wrapper">


	<!-- Her skal delen med section ligge -->

<div class="boks-980">
	<h1 style= "margin-top: 2em; font-family:Arial; color:black; text-align: center; width:350"> Pedagoger</h1>

<div class="gallery">
  <a target="_blank" href="Amelia.html" tabindex="1">
    <img align="middle" src="img/Ameliaprofil.jpg" alt="Profil-bilde Amelia" width="600" height="400">
  </a>
  <div class="desc"><b>Amelia</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="Andri.html" tabindex="1">
    <img src="img/Andriprofil.jpg" alt="Profil-bilde Andri" width="600" height="400">
  </a>
  <div class="desc"><b>Andri</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="Daniel.html" tabindex="1">
    <img src="img/danielprofil.jpg" alt="Profil-bilde Daniel" width="600" height="400">
  </a>
  <div class="desc"><b>Daniel</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="Elita.html" tabindex="1">
    <img src="img/Elita.jpg" alt="Profil-bilde Elita" width="600" height="400">
  </a>
  <div class="desc"><b>Elita</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="Ingrid.html" tabindex="1">
    <img src="img/Ingridprofil.jpg" alt="Profil-bilde Ingrid" width="600" height="400">
  </a>
  <div class="desc"><b>Ingrid</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="Irlin.html" tabindex="1">
    <img src="img/Irlinprofil.jpg" alt="Profil-bilde Irlin" width="600" height="400">
  </a>
  <div class="desc"><b>Irlin</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="Katrine.html" tabindex="1">
    <img src="img/katrineprofil.jpg" alt="Profil-bilde Katrine" width="600" height="400">
  </a>
  <div class="desc"><b>Katrine</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="Mari.html" tabindex="1">
    <img src="img/Mariprofil2.jpg" alt="Profil-bilde Mari" width="600" height="400">
  </a>
  <div class="desc"><b>Mari</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="Maria.html" tabindex="1">
    <img src="img/Maria.jpg" alt="Profil-bilde Maria" width="600" height="400">
  </a>
  <div class="desc"><b>Maria</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="May Linda.html" tabindex="1">
    <img src="img/MayLinda.jpg" alt="Profil-bilde May Linda" width="600" height="400">
  </a>
  <div class="desc"><b>May Linda</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="Silje Olava.html" tabindex="1">
    <img src="img/siljeolava.jpeg" alt="Profil-bilde Silje Olava" width="300" height="200">
  </a>
  <div class="desc"><b>Silje Olava</b></div>
</div>
</div>

</div>

<footer>
<!-- Dette er footeren -->
{% include "nettside/includes/footer.html" %}
<footer>
</body>
</html>