<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
	<!-- Her skal delen med section ligge -->
	<section>		<!-- Her kan man droppe Innholder fra tekster/bilder/map/slideshow med vanlig html kode. CSS styling er på toppen under kategori style-->
		
		<h1 style="margin-top:2em" tabindex="2">Følgende Priser gjelder for Vintersemesteret:</h1>


		<p tabindex="2">Oppstart i uke 2. Semesteret avsluttes i uke 12..</p>

		<p tabindex="2">55 min klasse: 1390 kr</p>
		<p tabindex="2">40 min klasse: 1290 kr</p>
		<p tabindex="2">Maxpris for enkeltpersoner: 4200kr</p>
		<p tabindex="2">Maxpris for familie: 5200kr</p>

		<p tabindex="2">Vi holder stengt i vinterferien. Vintersemesteret går over 10 uker.</p>

		<h1 tabindex="2">Følgende priser gjelder for Vårsemesteret:</h1>
		<p tabindex="2">Oppstart i uke 14 og avsluttes i uke 23 og uke 24. Tirsdag, onsdag og fredagspartier avsluttes i uke 23. Mandag og torsdagspartier avsluttes i uke 24. Mandager og torsdager treffer på to helligdager som berører kurset, følgelig avsluttes de en uke senere. Slik at alle kurs har minimum 9 kursuker.</p>
		<p tabindex="2">55 min klasse: 1250 kr </p>
		<p tabindex="2">40 min klasse: 1150 kr </p>
		<p tabindex="2">Maxpris for enkeltpersoner: 3900 kr </p>
		<p tabindex="2">Maxpris for Familie:4900 kr </p>

		<p tabindex="2">Vi holder stengt 2 april,1 mai, 10 mai, 17 mai, 21 mai. </p>
						
	</section>
</div>
	<footer>
	<!-- Dette er footeren -->
	{% include "nettside/includes/footer.html" %}
	<footer>
</body>
</html>