<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>

	<style>

		#sal-bilde{
			max-width: 600px;
			width: 100%;
			margin: 0 5% 100px 5%;
		}

	</style>
</head>
<body>
<!--Dette er headeren -->
{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
<div class="boks-980-2">

		<h1 style="margin-bottom: 100px;" tabindex="2">Bilder av sal 1</h1>

		<img id="sal-bilde" src="{% static 'images/sal1-1.jpg' %}" alt="Bilde av sal 1 1" tabindex="2" tabindex="2" />
		<img id="sal-bilde" src="{% static 'images/sal1-2.jpg' %}" alt="Bilde av sal 1 2" tabindex="2" tabindex="2" />
		<img id="sal-bilde" src="{% static 'images/sal1-3.jpg' %}" alt="Bilde av sal 1 3" tabindex="2" tabindex="2" />

</div>
</div>
<footer>
<!-- Dette er footeren -->
{% include "nettside/includes/footer.html" %}
<footer>
</body>
</html>