<!DOCTYPE html>
<html lang="nb">
<style>

.box {
    float: left;
    height: 100px;
    width: 310px;
    margin: 20px;
    padding:10px;
    border: solid;
    border-radius: 10px;
}
</style>
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}


	<!-- Her skal delen med section ligge -->

<div class="main-page-wrapper">
<section>
	<div class="box" style= "margin-top: 2em";>
		<a style="display:inline-block; position: relative; z-index: 1; padding-bottom: 5em; padding-right: 14em; " href="Barnedans.html">Barnedans</a>
	</div>
	

    <div class="box"style= "margin-top: 2em";>
			<a style="display:inline-block; position: relative; z-index: 1; padding-bottom: 5em; padding-right: 14em; " href="/stilarter/breakdance">Breakdance</a>
	</div>

    <div class="box">
		<div class="btn">
			<a style="display:inline-block; position: relative; z-index: 1; padding-bottom: 5em; padding-right: 14em; " href="/stilarter/hipHop">HipHop</a>
		</div>		
	</div>
    
	<div class="box">
		<div class="btn">
			<a style="display:inline-block; position: relative; z-index: 1; padding-bottom: 5em; padding-right: 14em; " href="stilarter/jazz">Jazz</a>
		</div>		
	</div>
	
	<div class="box">
		<div class="btn">
			<a style="display:inline-block; position: relative; z-index: 1; padding-bottom: 5em; padding-right: 14em; " href="/stilarter/klassisk">Klassisk</a>
		</div>		
	</div>
	
	<div class="box">
		<div class="btn">
			<a style="display:inline-block; position: relative; z-index: 1; padding-bottom: 5em; padding-right: 14em; " href="/stilarter/moderne">Moderne</a>
		</div>		
	</div>
	
	<div class="box">
		<div class="btn">
			<a style="display:inline-block; position: relative; z-index: 1; padding-bottom: 5em; padding-right: 14em; " href="/stilarter/taaspiss">Tåspiss</a>
		</div>		
	</div>
	
	<div class="box">
		<div class="btn">
			<a style="display:inline-block; position: relative; z-index: 1; padding-bottom: 5em; padding-right: 14em; " href="/stilarter/vogue">Vogue</a>
		</div>		
	</div>
</section>
</div>
	<footer>
	<!-- Dette er footeren -->
	{% include "nettside/includes/footer.html" %}
	<footer>
</body>
</html>
