<!DOCTYPE html>
<html lang="nb">
<head>
  <title>Jessheim Danseskole | Home </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
  <!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->
<style>

.stilart-flex-wrapper {
	margin: 0 3% 0 3%;
	display: flex;
	overflow: auto;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content:center;
	}

.stilart-flex-wrapper > div{
	width:280px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 20px;
	background-color: darkgrey;
	color: white;
	border-bottom: solid white 8px;
	}
  
.stilart-flex-wrapper a{
	color: white;
	display: block;
	text-decoration: none;
	}

.stilart-flex-wrapper > div:hover{
	border-bottom: solid purple 8px;
	transition: 0.4s;

	}

</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}
<div class="main-page-wrapper">
	<div id="tekst-boks1">
		<h1 tabindex="2">Stilarter</h1>
		<p tabindex="2">
			Jessheim danseskole tilbyr ulike klasser for både voksne og barn. Vi jobber også med å
			mestre danseteknikker, musikalitet, kreativitet og rytme. Vi tilbyr 7 sjanger innen dans
			som er fordelt i ulike klasser; Jazz, klassisk, moderne, breakdance, hip hop, vogue og
			barnedans.
		</p>
	</div>
    <div class="stilart-flex-wrapper">
          <div>
          	<a href="stilarter/breakdance" tabindex="2">Break Dance</a>
	      </div>
        
          <div>
          	<a href="stilarter/jazz" tabindex="2">Jazz</a>
          </div>
         
          <div>
          	<a href="stilarter/klassisk" tabindex="2">Klassisk</a>
          </div>  

          <div>
          	<a href="stilarter/vogue" tabindex="2">Vogue</a>
          </div>
         
          <div>
          	<a href="stilarter/barnedans" tabindex="2">Barnedans</a> 
          </div>
          
          <div>
          	<a href="stilarter/taaspiss" tabindex="2">Tåspiss</a>
          </div>  
          
          <div>
          	<a href="stilarter/moderne" tabindex="2">Moderne</a>
          </div>
          
          <div>
          	<a href="stilarter/hiphop" tabindex="2">Hip hop</a>
          </div>   
    </div>
</div>

<footer>
    <!-- Dette er footeren -->
    {% include "nettside/includes/footer.html" %}
<footer>
</body>
</html>
