<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<script type="text/javascript", src="{% static 'js/header-script.js' %}"></script>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
		/* Styling for toppen  */
		.accordion {
		    background-color: white;
		    color: black;
		    cursor: pointer;
		    padding: 12px;
		    width: 100%;
		    margin-top: 20px;
		    text-align: center;
		    outline: none;
		    font-size: 16px;
		    font-weight: bold;
		    font-family: Arial;
		    transition: 0.4s;
		    border: solid 1px #e0e0e0;
		}

		.active, .accordion:hover {
		    background-color: white;
		    border-bottom: solid #D8C8E8 4px;
		}

		.panel {
		    padding: 0;
		    display: none;
		    background-color: white;
		    overflow: hidden;
		}

		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}

		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}

		tr:nth-child(even) {
		    background-color: #dddddd;
		}
	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}


	<div class="main-page-wrapper">
		<div id="tekst-boks1" tabindex="2">
			<h1>Oversikt over timeplan</h1>
			<p>Timeplanen fungerer som følgende: Hovedregelen er at du minimum må ha danset to år ved  Jessheim Danseskole for å gå på et øvet kurs. Du må ha danset på det gjeldende kurset i to år. Du må melde deg på innenfor riktig aldersgruppe. Eks: Er du fem år, men fyller seks i løpet av 2018, kan du gå på et jazz 6-7  år kurs. Fyller du i løpet av 2019 må du gå på barnedans for 5  år.</p>
		</div>

		<div class="forestilling-boks">

		<h2>Sal 1</h2>

		<button class="accordion">Mandag</button>
		<div class="panel">
		    <table>
		        <tr>
		            <th>Klokkeslett</th>
		            <th>Stil</th>
		            <th>Nivå</th>
		            <th>Pedagog</th>
		        </tr>
		        <tr>
		            <td>17.00 - 17.40</td>
		            <td>Barnedans</td>
		            <td>4-5 år</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>17.45 - 18.40</td>
		            <td>Jazz</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>18.45 - 19.40</td>
		            <td>Klassisk Ballett</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		      <tr>
		            <td>19.45 - 20.40</td>
		            <td>Jazz</td>
		            <td>Voksne, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		        </tr>
		    </table>
		</div>

		<button class="accordion">Tirsdag</button>
		<div class="panel">
		    <table>
		        <tr>
		            <th>Klokkeslett</th>
		            <th>Stil</th>
		            <th>Nivå</th>
		            <th>Pedagog</th>
		        </tr>
		        <tr>
		            <td>17.10 - 17.50</td>
		            <td>Klassisk / moderne</td>
		            <td>6-7 år, ny / litt øvet</td>
		            <td>Katrine</td>
		        </tr>
		        <tr>
		            <td>18.00 - 18.55</td>
		            <td>Voguing</td>
		            <td>14-18 år</td>
		            <td>Daniel</td>
		        </tr>
		        <tr>
		            <td>19.00 - 19.55</td>
		            <td>Moderne kompani</td>
		            <td>15-18 år, øvet</td>
		            <td>Daniel</td>
		        </tr>
		      <tr>
		            <td>20.00 - 20.55</td>
		            <td>Moderne</td>
		            <td>14-15 år, øvet</td>
		            <td>Ingrid</td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		        </tr>
		    </table>
		</div>

		<button class="accordion">Onsdag</button>
		<div class="panel">
		    <table>
		        <tr>
		            <th>Klokkeslett</th>
		            <th>Stil</th>
		            <th>Nivå</th>
		            <th>Pedagog</th>
		        </tr>
		        <tr>
		            <td>17.00 - 17.55</td>
		            <td>Hip hop</td>
		            <td>10-12 år, ny / litt øvet</td>
		            <td>Irlin</td>
		        </tr>
		        <tr>
		            <td>18.00 - 18.55</td>
		            <td>Hip hop</td>
		            <td>14-18 år, øvet</td>
		            <td>Irlin</td>
		        </tr>
		        <tr>
		            <td>18.55 - 19.50</td>
		            <td>Hip hop</td>
		            <td>Voksne</td>
		            <td>Irlin</td>
		        </tr>
		      <tr>
		            <td>20.00 - 20.55</td>
		            <td>Jazz kompani</td>
		            <td>15-18 år, øvet</td>
		            <td>Silje</td>
		        </tr>
		        <tr>
		            <td>21.00 - 21.55</td>
		            <td>Moderne</td>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		        </tr>
		    </table>
		</div>

		<button class="accordion">Torsdag</button>
		<div class="panel">
		    <table>
		        <tr>
		            <th>Klokkeslett</th>
		            <th>Stil</th>
		            <th>Nivå</th>
		            <th>Pedagog</th>
		        </tr>
		        <tr>
		            <td>17.00 - 17.40</td>
		            <td>Barnedans</td>
		            <td>4-5 år</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>17.45 - 18.40</td>
		            <td>Jazz</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>18.45 - 19.40</td>
		            <td>Klassisk Ballett</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		      <tr>
		            <td>19.45 - 20.40</td>
		            <td>Jazz</td>
		            <td>Voksne, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		        </tr>
		    </table>
		</div>

		<button class="accordion">Fredag</button>
		<div class="panel">
		    <table>
		        <tr>
		            <th>Klokkeslett</th>
		            <th>Stil</th>
		            <th>Nivå</th>
		            <th>Pedagog</th>
		        </tr>
		        <tr>
		            <td>17.00 - 17.40</td>
		            <td>Barnedans</td>
		            <td>4-5 år</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>17.45 - 18.40</td>
		            <td>Jazz</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>18.45 - 19.40</td>
		            <td>Klassisk Ballett</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		      <tr>
		            <td>19.45 - 20.40</td>
		            <td>Jazz</td>
		            <td>Voksne, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		        </tr>
		    </table>
		</div>

		<h2>Sal 2</h2>

		<button class="accordion">Mandag</button>
		<div class="panel">
		    <table>
		        <tr>
		            <th>Klokkeslett</th>
		            <th>Stil</th>
		            <th>Nivå</th>
		            <th>Pedagog</th>
		        </tr>
		        <tr>
		            <td>17.00 - 17.40</td>
		            <td>Barnedans</td>
		            <td>4-5 år</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>17.45 - 18.40</td>
		            <td>Jazz</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>18.45 - 19.40</td>
		            <td>Klassisk Ballett</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		      <tr>
		            <td>19.45 - 20.40</td>
		            <td>Jazz</td>
		            <td>Voksne, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		        </tr>
		    </table>
		</div>

		<button class="accordion">Tirsdag</button>
		<div class="panel">
		    <table>
		        <tr>
		            <th>Klokkeslett</th>
		            <th>Stil</th>
		            <th>Nivå</th>
		            <th>Pedagog</th>
		        </tr>
		        <tr>
		            <td>17.00 - 17.40</td>
		            <td>Barnedans</td>
		            <td>4-5 år</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>17.45 - 18.40</td>
		            <td>Jazz</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>18.45 - 19.40</td>
		            <td>Klassisk Ballett</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		      <tr>
		            <td>19.45 - 20.40</td>
		            <td>Jazz</td>
		            <td>Voksne, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		        </tr>
		    </table>
		</div>

		<button class="accordion">Onsdag</button>
		<div class="panel">
		    <table>
		        <tr>
		            <th>Klokkeslett</th>
		            <th>Stil</th>
		            <th>Nivå</th>
		            <th>Pedagog</th>
		        </tr>
		        <tr>
		            <td>17.00 - 17.40</td>
		            <td>Barnedans</td>
		            <td>4-5 år</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>17.45 - 18.40</td>
		            <td>Jazz</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>18.45 - 19.40</td>
		            <td>Klassisk Ballett</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		      <tr>
		            <td>19.45 - 20.40</td>
		            <td>Jazz</td>
		            <td>Voksne, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		        </tr>
		    </table>
		</div>

		<button class="accordion">Torsdag</button>
		<div class="panel">
		    <table>
		        <tr>
		            <th>Klokkeslett</th>
		            <th>Stil</th>
		            <th>Nivå</th>
		            <th>Pedagog</th>
		        </tr>
		        <tr>
		            <td>17.00 - 17.40</td>
		            <td>Barnedans</td>
		            <td>4-5 år</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>17.45 - 18.40</td>
		            <td>Jazz</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>18.45 - 19.40</td>
		            <td>Klassisk Ballett</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		      <tr>
		            <td>19.45 - 20.40</td>
		            <td>Jazz</td>
		            <td>Voksne, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		        </tr>
		    </table>
		</div>

		<button class="accordion">Fredag</button>
		<div class="panel">
		    <table>
		        <tr>
		            <th>Klokkeslett</th>
		            <th>Stil</th>
		            <th>Nivå</th>
		            <th>Pedagog</th>
		        </tr>
		        <tr>
		            <td>17.00 - 17.40</td>
		            <td>Barnedans</td>
		            <td>4-5 år</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>17.45 - 18.40</td>
		            <td>Jazz</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td>18.45 - 19.40</td>
		            <td>Klassisk Ballett</td>
		            <td>12-13 år, øvet</td>
		            <td>Maria</td>
		        </tr>
		      <tr>
		            <td>19.45 - 20.40</td>
		            <td>Jazz</td>
		            <td>Voksne, øvet</td>
		            <td>Maria</td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		        </tr>
		    </table>
		</div>
	</div>
	</div>

	<footer>
		{% include "nettside/includes/footer.html" %}
	<footer>
</body>
</html>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>
