<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	#bilde-pedagog {
		max-width: 600px;
		width: 100%;
		margin: 0 0 50px 0;
	}

	.video iframe {
		position:absolute;
		width:100%;
		height:100%;
	}


	.video{
		position:relative;
	}

	video {
		margin: 15px 0 100px 0;
		width:100%;

	    height: auto;
	}

	</style>
</head>
<body>
<!--Dette er headeren -->
{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
<div class="boks-980-2">
	<!-- Her skal delen med section ligge -->

	<img id="bilde-pedagog" src="{% static 'images/pedagoger/Ameliadans.jpg' %}" alt="Bilde av Amelia" />


	<h1>Amelia Smuts</h1>

	<p>Amelia har drevet med dans siden hun var liten. Hun startet med klassisk ballett ved Bergen Kulturskole og fortsatte videre på talentklassene. 
	Hun var i flere år med på oppsettet av Tsjajkovkijs «Nøtteknekkeren», der hun hadde flere store og små roller. 
	På danselinjen på Langhaugen ble jazz den store interessen og hun fortsatte videre i det sporet med et år på Spin Off sin danseutdanning. </p>
	<p style= "margin-bottom: 5em;">Hun har deretter selvstudert alle dansestilene, inkludert Hip Hop, både i inn- og- utland. 
	Hun har blant annet hentet stor erfaring fra det annerkjente og store dansestudioet Millennium Dance Complex i Los Angeles. 
	For tiden er hun med i hip hop kompaniet Radix Crew, og har vært med på flere oppdrag det siste året.</p>




	<h1 style="margin:12px">Amelia video</h1>
	<div class="container">
		<div class="video">
		<video controls poster="{% static 'images/pedagoger/ingridthumbnail.gif' %}"="controls" preload="none" onclick="this.paused ? this.play() : this.pause();">
			<source src="{% static 'images/pedagoger/Ingridselev.mp4' %}" type="video/mp4">
			<source src="{% static 'images/pedagoger/Ingridselev.mp4' %}" type="video/ogg">
			Your browser does not support the video tag.
		</video>
		</div>
	</div>
</div>
</div>
<footer>
<!-- Dette er footeren -->
{% include "nettside/includes/footer.html" %}
<footer>
</body>
</html>
