<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>


	.video iframe {
		position:absolute;
		width:100%;
		height:100%;
	}


	.video{
		position:relative;
		height: 650px;
	}

	@media screen and (max-width:1400px) {
		.video{
			height: 400px;
		}
	}

	@media screen and (max-width:720px) {
		.video{
			height: 300px;
		}
	}

	video {
		margin: 15px 0 100px 0;
		width:100%;

	    height: auto;
	}

	.main-page-wrapper {
	min-height: 1500px;
	}

	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}


	<!-- Her skal delen med section ligge -->
<div class="main-page-wrapper">
<div class="boks-980-2">
		<img src="img/windmill.jpg" alt="Respond" />

		<h1>Andri</h1>
	       
		<p>Andri er et av medlem i gruppa Floorknights Crew som ble stiftet i 1999, de har 
			vunnet både nasjonale og internasjonale konkurranser og er en av Norges beste crew i break.
			Andri jobber som utøvende danser og pedagog, i tillegg til at han deltar i battles både inn- 
			og utland.</p>
		<p>Han har danset siden 2004, startet å danse fra gata og bygde seg opp autodidakt. 
			Nå har han jobbet med store artister som bl.a Madcon, Samsaya, Vinni, Breaknecks,
			John Berge, Aces Crew, Quick Crew og mange andre.Han har og vært med i 
			musikkvideoer og vært bakgrunnsdanser for flere artister. </p>
		<p style= "margin-bottom: 5em;">I 2016 fikk han 
			skuespill jobb som hovedrollen i “Satyricon”, arrangert av Black Box Teater i Oslo.
			Andri fikk en god del av inspirasjon fra skuespill karriere og tok den videre i dansinga si 
			med å kombinere begge sjangre. Han har undervist break siden 2007 for både barn og voksne på mange forskjellige skoler og danseklasser.
			Hans sin motto er: “Dans er ikke en Hobby. Det er en livsstil”</p>


		<h1 style="margin:12px">Andri undervisning</h1>

			<div class="video">
			<iframe src="https://www.youtube.com/embed/1QHvhK3UMMM" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		</div>
	</div>
	</div>
	<footer>
	<!-- Dette er footeren -->
	{% include "nettside/includes/footer.html" %}
	<footer>
</body>
</html>