<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	#bilde-pedagog {
		max-width: 600px;
		width: 100%;
		margin: 0 0 50px 0;
	}

	.video iframe {
		position:absolute;
		width:100%;
		height:100%;
	}


	.video{
		position:relative;
	}

	video {
		margin: 15px 0 100px 0;
		width:100%;

	    height: auto;
	}

	</style>
</head>
<body>
<!--Dette er headeren -->
{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
<div class="boks-980-2">
	<!-- Her skal delen med section ligge -->

	<img id="bilde-pedagog" src="{% static 'images/pedagoger/danielvogue.jpg' %}" alt="Bilde av Daniel" />

		<h1>Daniel Elahi</h1>
	       
		<p>Born and raised in Sweden with roots from Iran. Started his career since he started dancing at age of 16.
			Taking his journey through highschool danceprogram in classical dance, then to study the roots of Hiphop and House at ÅSA streetdance school and later on move to New York for the ISVP program at Broadway Dance Center.
		</p>
		<p>Daniel goes also by the name "Diesel" of the Iconic House of Ninja also a part of the Kiki House of Meraki: www.merakiofficial.no
			NOW, battle, freelancing as a dancer and performing artist.</p>
		<p>Daniel have had great opportunities, working with people & companies such as:
			Good morning America, Ylvis, NYX Norway, Skavlan, Kevin Murphy, Lipsync Battle Norway, L'Oréal, Melody Grand Prix, Norway Cup, Feiyue, Spelleman Prisen,
			KITE, Marcus & Martinus, SATS, Norway Got Talent, Awake Project, Nosizwe Århundradets stemme, Kamferdrops, Dr.Denim and many many more, 
			making him the multilateral dancer he is today.</p>
		<p style= "margin-bottom: 5em;">Daniel was also the winner of the 2012 "Någon att rækna med" (someone to count on) award from Væsterås City in Sweden. 
			For his creative gatherings and support of the different arts, acknowleged by many.</p>



	<h1 style="margin:12px">Daniel video</h1>
	<div class="container">
		<div class="video">
		<video controls poster="{% static 'images/pedagoger/danielthumbnail.png' %}"="controls" preload="none" onclick="this.paused ? this.play() : this.pause();">
			<source src="{% static 'images/pedagoger/Danielsolovideo.mp4' %}" type="video/mp4">
			<source src="{% static 'images/pedagoger/Danielsolovideo.mp4' %}" type="video/ogg">
			Your browser does not support the video tag.
		</video>
		</div>
	</div>
</div>
</div>
<footer>
<!-- Dette er footeren -->
{% include "nettside/includes/footer.html" %}
<footer>
</body>
</html>