<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	#bilde-pedagog {
		max-width: 600px;
		width: 100%;
		margin: 0 0 50px 0;
	}

	.video iframe {
		position:absolute;
		width:100%;
		height:100%;
	}


	.video{
		position:relative;
	}

	video {
		margin: 15px 0 100px 0;
		width:100%;

	    height: auto;
	}

	</style>
</head>
<body>
<!--Dette er headeren -->
{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
<div class="boks-980-2">
	<!-- Her skal delen med section ligge -->

	<img id="bilde-pedagog" src="{% static 'images/pedagoger/IngridMoberg.jpg' %}" alt="Bilde av Ingrid" />

		<h1>Ingrid Moberg</h1>
	       
		<p>Ingrid har en bachelor i dans og pedagogikk fra Den Norske Balletthøyskolen i Oslo (Nå: Norges Dansehøyskole). 
		Hun underviser primært i moderne- og samtidstidsdans.</p>

		<p style= "margin-bottom: 5em;">Hun har også arbeidet som gruppetreningsinstruktør siden 2010 hvor hun har sertifisering i Krønsj-timer, Catslide og TRX. 
		I tillegg har hun en “200 hours Yoga Teacher Training” fra 2011</p>


	<h1 style="margin:12px">Ingrid sine elever på show</h1>
	<div class="container">
		<div class="video">
		<video controls poster="{% static 'images/pedagoger/ingridthumbnail.gif' %}"="controls" preload="none" onclick="this.paused ? this.play() : this.pause();">
			<source src="{% static 'images/pedagoger/Ingridselev.mp4' %}" type="video/mp4">
			<source src="{% static 'images/pedagoger/Ingridselev.mp4' %}" type="video/ogg">
			Your browser does not support the video tag.
		</video>
		</div>
	</div>
</div>
</div>
<footer>
<!-- Dette er footeren -->
{% include "nettside/includes/footer.html" %}
<footer>
</body>
</html>