<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	#bilde-pedagog {
		max-width: 600px;
		width: 100%;
		margin: 0 0 50px 0;
	}

	.video iframe {
		position:absolute;
		width:100%;
		height:100%;
	}


	.video{
		position:relative;
	}

	video {
		margin: 15px 0 100px 0;
		width:100%;

	    height: auto;
	}

	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}

	<div class="main-page-wrapper">
	<div class="boks-980-2">

		<img id="bilde-pedagog" src="{% static 'images/pedagoger/Irlinsolo.jpg' %}" alt="Bilde av Irlin" />


		<h1>Irlin Finsådal</h1>
		
		<p>Irlin «Elixir» har drevet med dans i nærmere 10år. 
			Hun jobber til vanlig som instruktør på ulike studioer i og utenfor Oslo og har gjort en rekke jobber for reklame, 
			musikkvideo, tv og på scener i både inn og utland. Hun er kompanileder for det profesjonelle Hip Hop crewet Radix og reiser aktivt rundt 
			i verden for å ta workshops, klasser og delta i konkurranser.</p>
		<p>Irlin driver hovedsakelig med urbane dansestiler, og fokuserer like mye på faglig kunnskap som danseteknisk erfaring. 
			Hun har i flere år drevet med Hip Hop, og begynte i 2017 å reise ut i verden for å delta i battles innen Waacking. 
			Hun var topp 8 i Waackersburg Waack Battle 2018 i Russland og vant BSB Allstyle Battle i Bergen 2018.</p>
		<p style= "margin-bottom: 5em;">Irlin elsker å dele danseglede og ønsker å skape god stemning og bra treningsmoral blant både unge og voksne på sine klasser
			og workshops.</p>
			


		<h1 style="margin:12px">Irlin og elevene hennes</h1>
		<div class="container">
			<div class="video">
				<video controls poster="{% static 'images/pedagoger/irlinthumbnail.png' %}"="controls" preload="none" onclick="this.paused ? this.play() : this.pause();">
					<source src="{% static 'images/pedagoger/irlinklasse.mp4' %}" type="video/mp4">
					<source src="{% static 'images/pedagoger/irlinklasse.mp4' %}" type="video/ogg">
					Your browser does not support the video tag.
				</video>
			</div>
		</div>
	</div>
	</div>
<footer>
<!-- Dette er footeren -->
{% include "nettside/includes/footer.html" %}
<footer>
</body>