<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	#bilde-pedagog {
		max-width: 600px;
		width: 100%;
		margin: 0 0 50px 0;
	}

	.video iframe {
		position:absolute;
		width:100%;
		height:100%;
	}


	.video{
		position:relative;
	}

	video {
		margin: 15px 0 100px 0;
		width:100%;

	    height: auto;
	}

	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}


	<div class="main-page-wrapper">
	<div class="boks-980-2">

		<img id="bilde-pedagog" src="{% static 'images/pedagoger/katrinesolo.jpg' %}" alt="Bilde av Katrine" />


		<h1>Katrine Fjell Holen</h1>
	       
		<p>Katrine har undervist i sang og dans siden hun gikk ut fra danselinja på Lillestrøm VGS. 
			Er utdannet samtidsdanser og koreograf fra Skolen for Samtidsdans (Nå: Dansekunst høyskolen)
			Er også utdannet musikalartist fra Bårdar Akademiet i Oslo og har en bachelor i sang og musikk med fordypning musikk og helse fra NMH og UIO.</p>
		<p style= "margin-bottom: 5em;">Hun har vært med i og hatt hovedroller i både musikal og operaforestillinger både under og etter utdanning. 
			Har bla spilt rollen som "Cosette" i "Les Misérables", vært dansende "Hulder" i  Kjosfossen og spilt hovedrollen som den lille gutten "Amahl" i operetten om "Amahl og de hellige tre konger" i Gamle Logen. 
			Jobber også som produsent og koreograf i "Musikalensemblet Some People". </p>
		



		<h1 style="margin:12px">Katrine Flash Mob</h1>
		<div class="container">
			<div class="video">
				<video controls poster="{% static 'images/pedagoger/katrinethumbnail.png' %}"="controls" preload="none" onclick="this.paused ? this.play() : this.pause();">
					<source src="{% static 'images/pedagoger/katrineelev.mp4' %}" type="video/mp4">
					<source src="{% static 'images/pedagoger/katrineelev.mp4' %}" type="video/ogg">
					Your browser does not support the video tag.
				</video>
			</div>
		</div>
	</div>
	</div>
<footer>
<!-- Dette er footeren -->
{% include "nettside/includes/footer.html" %}
<footer>
</body>