<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	#bilde-pedagog {
		max-width: 600px;
		width: 100%;
		margin: 0 0 50px 0;
	}

	.video iframe {
		position:absolute;
		width:100%;
		height:100%;
	}


	.video{
		position:relative;
	}

	video {
		margin: 15px 0 100px 0;
		width:100%;

	    height: auto;
	}

	</style>
</head>
<body>
<!--Dette er headeren -->
{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
<div class="boks-980-2">
	<!-- Her skal delen med section ligge -->


	<h1>Maria Lockert</h1>
       
	<p <p style= "margin-bottom: 5em;">Daglig leder ved Jessheim Dansesskole. Undervist i ett år ved Danseskolen før overtakelse som daglig leder. Har deltatt ett år på Gauldal folkehøyskole på danselinjen. 1-årig kveldsstudium i dans ved Spin off.
	Har 3-årig bachelor i dans og pedagogikk – spesialisering i dans, kultur og kunstformidling, og er i tillegg utdannet barnevernspedagog.</p>



	<h1 style="margin:12px">Maria undervisning</h1>
	<div class="container">
		<div class="video">
		<video controls poster="{% static 'images/pedagoger/mariathumbnail.gif' %}"="controls" preload="none" onclick="this.paused ? this.play() : this.pause();">
			<source src="{% static 'images/pedagoger/mariaelev.mp4' %}" type="video/mp4">
			<source src="{% static 'images/pedagoger/mariaelev.mp4' %}" type="video/ogg">
			Your browser does not support the video tag.
		</video>
		</div>
	</div>
</div>
</div>
<footer>
<!-- Dette er footeren -->
{% include "nettside/includes/footer.html" %}
<footer>
</body>
</html>