<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	#bilde-pedagog {
		max-width: 600px;
		width: 100%;
		margin: 0 0 50px 0;
	}

	.video iframe {
		position:absolute;
		width:100%;
		height:100%;
	}


	.video{
		position:relative;
	}

	video {
		margin: 15px 0 100px 0;
		width:100%;

	    height: auto;
	}

	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
<div class="boks-980-2">
	<!-- Her skal delen med section ligge -->

	<img id="bilde-pedagog" src="{% static 'images/pedagoger/Marisolo.jpg' %}" alt="Bilde av Mari" />


		<h1>Mari Vaagland</h1>
	       
		<p>Mari har sin utdannelse fra Norges dansehøyskole (2009) og har bachelor i dans og undervisning med fordypning i moderne/samtidsdans, 
		samt utdanning fra danselinja ved Bårdar akademiet (2006). Hun har videreutdannet seg i PPU (praktisk pedagogisk utdanning) ved Kunsthøyskolen i Oslo (2013).</p>
		<p>Høsten 2017 fullførte Mari en mastergrad i kulturledelse ved Universitet i Agder. 
		Mari har undervisningserfaring fra følgende skoler: Jessheim danseskole, Bømlo kulturskole, Sørum kulturskole, 
		Nannestad kulturskole og Kristine Glennes ballettskole. Hun underviser i klassisk ballett, jazzdans og moderne/samtidsdans. 
		I tillegg til danseundervisning jobber Mari prosjektbasert/frilans som danser.</p>
		<p style= "margin-bottom: 5em;">Sommeren 2016 deltok hun i en danseforestilling med tittelen “Kivlemøyane” på selveste Gaustatoppen - 
			Norges høyeste utescene!  </p>	



</div>
</div>
<footer>
<!-- Dette er footeren -->
{% include "nettside/includes/footer.html" %}
<footer>
</body>
</html>