<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	#bilde-pedagog {
		max-width: 600px;
		width: 100%;
		margin: 0 0 50px 0;
	}

	.video iframe {
		position:absolute;
		width:100%;
		height:100%;
	}


	.video{
		position:relative;
	}

	video {
		margin: 15px 0 100px 0;
		width:100%;

	    height: auto;
	}

	</style>
</head>
<body>
<!--Dette er headeren -->
{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
<div class="boks-980-2">

	<img id="bilde-pedagog" src="{% static 'images/pedagoger/MayLindadans.jpg' %}" alt="Bilde av May Linda" />


		<h1>May Linda Lundh</h1>
	       
		<p>Pedagog ved Jessheim ballettskole. Undervist i ballett og jazzdans siden 1998 ved følgende ballettskoler: 
			Mona Løbergs ballettstudio, Aktivum, Eidsvoll ballettsenter og Jessheim ballettskole (siden 2001). 
			Er utdannet fysioterapeut og har i tillegg 3-årig bachelor i dans og pedagogikk ved Den Norske Balletthøyskole. 
		<p>Hun har deltatt på diverse forestillinger i regi av Den Norske Balletthøyskole, moteshow og VM i dans Cheerleading. 
			Jobbet som aerobic-, spinning og body-work instruktør ved Trimland og Sats. Hun jobber som fysioterapeut ved LHL-sykehuset Gardermoen.</p>
		<p style= "margin-bottom: 5em;">I tillegg driver hun Jessheim Yoga og Fysio på www.Yogaogfysio.no. Der hun underviser i Mensendieck, Virya- og Yinyoga.</p>
			
		


</div>
</div>
<footer>
<!-- Dette er footeren -->
{% include "nettside/includes/footer.html" %}
<footer>
</body>
</html>