<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	#bilde-pedagog {
		max-width: 600px;
		width: 100%;
		margin: 0 0 50px 0;
	}

	.video iframe {
		position:absolute;
		width:100%;
		height:100%;
	}


	.video{
		position:relative;
	}

	video {
		margin: 15px 0 100px 0;
		width:100%;

	    height: auto;
	}

	</style>
</head>
<body>
<!--Dette er headeren -->
{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
<div class="boks-980-2">
	<!-- Her skal delen med section ligge -->

		<img id="bilde-pedagog" src="{% static 'images/pedagoger/Siljedans.jpeg' %}" alt="Bilde av Silje" />

		<h1>Silje Olava Bakken</h1>
		
		<p>Silje Olava ble i 2015 uteksaminert ved Norges Dansehøyskole (NDH) med en bachelor i dans og pedagogikk med fordypning i jazz. 
			Hun jobber nå fulltids som dansepedagog, freelance danser og koreograf, både nasjonalt og internasjonalt. 
			Etter uteksamineringen ved NDH har hun undervist ved Oslo Musikk- og Kulturskole og Jessheim Danseskole, 
			der hun underviser alt fra barn til voksne innenfor en rekke dansestiler. Hun har også undervist internasjonalt gjennom workshops i Kampala,
			Uganda, og Macao, Kina.</p>
		<p>Som freelancer varierer oppdragene fra show og forestillinger, til TV-opptredener og musikkvideoer. «Jesus Christ Superstar», 
			«Spellemann på Taket» og Norgesturne med Tommy Steines standup show «Latterlig Livredd» er noen av engasjementene hun har vært innom. 
			I tillegg har hun høstet kunnskap under lengre og kortere opphold i utlandet. </p>
		
		<p>Hun har bodd 3 måneder i Paris via utveksling fra NDH, og tatt klasser i New York, Uganda og Ukraina. 
			Som kunstnerisk ansvarlig reiste Silje Olava med en gruppe på 20 aktører til Macao sommeren 2016 og deltok på International Youth Dance Festival.</p>

		<p style= "margin-bottom: 5em;">Sommeren 2018 skal hun tilbake å opptre med hip hop crewet Radix, som hun er med-leder og medlem av. 
			Høsten 2017 deltok hun sammen med Radix på dansefestivalen Tid for Dans der de viste sin kunstneriske produksjon «Blikkbox». 
			Som produsent satte Silje Olava sommeren 2017 opp to forestillinger; en barneforestilling som premierte på Kilden Teater 1.juli, 
			og forestillingen «Feast Your Eyes» (FYE) i Kampala senere samme måned. FYE var et samarbeidsprosjekt med lokale utøvere fra Kampala 
			der de fremførte resultatet av en 2 ukers intensiv prosjektperiode.</p>


</div>
</div>
<footer>
<!-- Dette er footeren -->
{% include "nettside/includes/footer.html" %}
<footer>
</body>
</html>