{% block content %}
<div id="sm-ikon-bar">
	<a href="https://www.facebook.com/jessheimdanseskole/" class="social-icon" tabindex="3"><i class="fa fa-facebook"></i></a>
	<a href="" class="social-icon" tabindex="3"><i class="fa fa-twitter"></i></a>
	<a href="" class="social-icon" tabindex="3"><i class="fa fa-google"></i></a>
	<a href="" class="social-icon" tabindex="3"><i class="fa fa-vimeo"></i></a>
	<a href="https://www.instagram.com/jessheimdanseskole/" class="social-icon" tabindex="3"><i class="fa fa-instagram"></i></a>
	<a href="" class="social-icon" tabindex="3"><i class="fa fa-youtube"></i></a>
</div>

<div class="flex-container">
  <div>
  <pre tabindex="3">
  Besøksadresse: 
  Industrivegen 21 og 34
  2069 Jessheim
  </pre>
  </div>
  
  <div>
  <pre tabindex="3">
  E-post:
  post@jessheimdanseskole.no 
  Telefon:
  47 34 65 34
  </pre>
  </div>
{% endblock %}
