{% block content %}
<header>
	<div class="top-container">
		{% load static %}
		<img id="tc-bilde" src="{% static 'images/header2.png' %}" alt="Header-bilde dans paa scene" style="width:100%;" tabindex="1">
		<div id="tc-text">
			<h1 tabindex="1">Jessheim Danseskole</h1>
			<p>Jazz | Hip hop | Moderne | Klassisk | Barnedans | Breakdance | Vogue </p>
		</div>
	</div>

<!-- <div class="header" id="myHeader"> -->
<div class="topnav" id="myTopnav">
	<a href="/" tabindex="1">Hjem</a>
	<a href="/timeplan/" tabindex="1">Timeplan</a>
	<a href="/stilarter" tabindex="1">Stilarter</a>
	<a href="/pedagoger" tabindex="1">Pedagoger</a>
	<a href="/priser" tabindex="1">Priser</a>
	<a href="/forestillinger" tabindex="1">Forestillinger</a>
	<a href="/kontaktoss" tabindex="1">Kontakt Oss</a>
	<a style="font-size:20px;" class="icon" onclick="myFunction()" tabindex="1">&#9776;</a>
</div>
</header>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
{% endblock %}
