url<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
	<!-- Her skal delen med section ligge -->
	<section>		<!-- Her kan man droppe Innholder fra tekster/bilder/map/slideshow med vanlig html kode. CSS styling er på toppen under kategori style-->
		
		<h1 style="margin-top:2em" tabindex="2">Hip hop</h1>

		<p>Hiphop er en kulturell retning med opprinnelse i svarte og latino ungdomsmiljøer
		i the Bronx i New York på 1970-tallet, med fokus på utøvelse av kunstneriske uttrykk
		ute på gata i det offentlige rom, ofte i en konkurransepreget og selvhevdende form.
		(wikipedia)

		Hip Hop har utviktet seg i mange ulike retninger, og det finnes idag flere ulike stiler.
		Ved Jessheim Danseskole underviser Katharina Bierach og Daniel Elahi.
		De gir elevene innblikk i flere av stilene. 
		Blant annet: locking, popping, breaking, house, reggae, dancehall og ren hip hop.
		Det undervises i teknikk, isolasjoner, core styrke, stretch, rytme, grunnsteg,
		musikkforståelse, koreografi, floorwork, og personlig stil (freestyle)</p>

						
	</section>
</div>
	<footer>
	<!-- Dette er footeren -->
	{% include "nettside/includes/footer.html" %}
	<footer>
</body>
</html>