url<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
	<!-- Her skal delen med section ligge -->
	<section>		<!-- Her kan man droppe Innholder fra tekster/bilder/map/slideshow med vanlig html kode. CSS styling er på toppen under kategori style-->
		
		<h1 style="margin-top:2em" tabindex="2">Jazz</h1>

		<p>Har to kilder: En som springer fra afrikansk kultur, og en som springer
		fra europeisk kultur. USA ble etter hvert en smeltedingel der danseformer
		som europeisk dans, indianernes dans, indisk dans og framfor alt, den afrikanske
		rytmiske dansen smeltet sammen til et nytt danseuttrykk,det som i dag kalles
		jazzdans. I begynnelsen ble den danset til jazzmusikk, men i dag er det popmusikk
		som blir brukt. Det finnes mange ulike stilarter innen jazzdans. Blant annet:
		lyrisk, show, musikal, funk, street, hip hop og elementærjazz. Jazzkurset ved
		jessheim ballettskole inneholder de fleste av de ovenfornevnte stilartene.
		Kilde: Dansekunst bind 2 (1998)</p>

						
	</section>
</div>
	<footer>
	<!-- Dette er footeren -->
	{% include "nettside/includes/footer.html" %}
	<footer>
</body>
</html>