url<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
	<!-- Her skal delen med section ligge -->
	<section>		<!-- Her kan man droppe Innholder fra tekster/bilder/map/slideshow med vanlig html kode. CSS styling er på toppen under kategori style-->
		
		<h1 style="margin-top:2em" tabindex="2">Klassisk</h1>

		<p>Selve ordet ballett kommer fra det italienske ordet ballare som betyr å danse.
		Frankrike var ballettens mekka. Ludvig XIV startet sitt Akademie Royale De Dance(1661).
		Ballettradisjonene ble videre tatt opp i Russland. Et av de mest kjente 
		ballettsystemene er Vaganova som kommer fra Russland. Det er dette systemet det
		tas utgangspunkt i ved Jessheim Danseskole. Elevene vil lære grunnleggende
		elementer fra klassisk ballett som f.eks posisjoner, retninger, hopp, piruetter,
		stilarter, takt og rytme. Hos de yngste elevene vil det også være en del sang
		og lek integrert i læringen. Kilde: ABC for den klassiske ballett (1989)</p>

						
	</section>
</div>
	<footer>
	<!-- Dette er footeren -->
	{% include "nettside/includes/footer.html" %}
	<footer>
</body>
</html>