url<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
	<!-- Her skal delen med section ligge -->
	<section>		<!-- Her kan man droppe Innholder fra tekster/bilder/map/slideshow med vanlig html kode. CSS styling er på toppen under kategori style-->
		
		<h1 style="margin-top:2em" tabindex="2">Moderne</h1>

		<p>
		Moderne ballett oppsto som en reaksjon på den klassiske balletten.
		Man ønsket i større grad å ta utgangspunkt i kroppens naturlige bevegelsesmønster,
		som en motsetning til den ”strenge” klassiske teknikken. Martha Graham, Rudolf Laban
		og Isadora Duncan var pionerer innenfor denne danseformen. Det finnes mange ulike
		teknikker innenfor moderne dans. Noen av prinsippene som gjelder innenfor denne
		danseformen er å slippe unødvendige spenninger, bruk av pusten og ha fokus på 
		et dynamisk og naturlig bevegelsesmøster.
		</p>
		
	</section>
</div>
	<footer>
	<!-- Dette er footeren -->
	{% include "nettside/includes/footer.html" %}
	<footer>
</body>
</html>