url<!DOCTYPE html>
<html lang="nb">
<head>
	<title>Jessheim Danseskole | Home </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css'/>
	<!-- <script type="text/javascript" src="{% static 'js/header-script.js' %}"></script> -->

	<style>
	</style>
</head>
<body>
	<!--Dette er headeren -->
	{% include "nettside/includes/header.html" %}

<div class="main-page-wrapper">
	<!-- Her skal delen med section ligge -->
	<section>		<!-- Her kan man droppe Innholder fra tekster/bilder/map/slideshow med vanlig html kode. CSS styling er på toppen under kategori style-->
		
		<h1 style="margin-top:2em" tabindex="2">Vogue</h1>

		<p>Vogue, eller voguing, er en svært stilisert, moderne husdans som stammer
		fra slutten av 1980-tallet, som utviklet seg fra Harlems balsalskunst på
		1960-tallet. [1] Det fikk vanlig eksponering når den ble omtalt i Madonna
		sang og video "Vogue" (1990), og da den ble vist i 1990-dokumentarfilmen,
		er Paris Burning (som fortsatte å vinne Grand Jury-prisen på 1991 Sundance
		Film Festival). ] I sin moderne form har denne dansen blitt et globalt
		fenomen som fortsetter å utvikle seg både stilistisk og demografisk.</p>

						
	</section>
</div>
	<footer>
	<!-- Dette er footeren -->
	{% include "nettside/includes/footer.html" %}
	<footer>
</body>
</html>